.middle-section {
  display: flex;
  width: 100%;
  height: 600px;
  margin-bottom: 20px;
}

.map-wrapper {
  flex: 1;
  margin-left: 40px; /* moves map to the right */
  margin-right: 40px; /* gives space so charts don't collide */
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
}
