.charts {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.chart-placeholder {
  height: 120px;
  background: black;
  color: white;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
