.map-card {
  width: 400px;
  height: 450px;
  background: white;
  /* margin: 20px auto; */
  padding: 10px;
  display: block; /* make sure auto-centering works */
  box-sizing: border-box;
  margin-left: 200px;
  margin-right: 200px;
}

.map-style {
  width: 60%;
  height: 100%;
}

.layer-buttons button {
  padding: 8px 16px;
  background: #eee;
  border: 1px solid #bbb;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.layer-buttons button:hover {
  background: #ddd;
}

.active-btn {
  background: #0066ff;
  color: rgb(90, 121, 224);
  border-color: #004ad1;
  font: bold;
}
