.map-card {
  width: 400px;
  height: 450px;
  background: white;
  /* margin: 20px auto; */
  padding: 10px;
  display: block; /* make sure auto-centering works */
  box-sizing: border-box;
  margin-left: 200px;
  margin-right: 200px;
  border-color: black;
  border: black;
}

.map-style {
  width: 60%;
  height: 100%;
  border-color: black;
}

.layer-buttons button {
  padding: 8px 16px;
  background: #eee;
  border: 1px solid #bbb;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.layer-buttons button:hover {
  background: #ddd;
  cursor: pointer;
}

.active-btn {
  color: rgb(41, 78, 199);
  border-color: #004ad1;
  font-weight: 700;
  cursor: pointer;
  width: 150px;
  height: 50px;
}

.layer-buttons button,
button {
  cursor: pointer;
}
